

#user-Section{
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}
#user-Section >article {
    height:100vh;
    
    position: relative;
    z-index: 111;
}





/* topBar starts */
#userIcon{
  width:2rem;
 
}
#userIcon img{
  width:100%;
  border-radius: 50%;
}
/* topBar-ends */

/* sideBar starts */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: linear-gradient(rgb(104, 1, 248),rgb(89, 31, 134));
    position: fixed;
    height:95vh;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .sidebar #sideBar_links {
    display: block;
    color:gainsboro;
    padding:10px;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
  }
   
  .sidebar #sideBar_links.active {
    /* background-color: #04AA6D; */
    color: white;
  }
  
  .sidebar #sideBar_links:hover:not(.active) {
    /* background-color: #555; */
    color: white;
  }

  /* sideBar ends */
  

  div.content {
    margin-left: 200px;
    border-radius: 10px;
    overflow:scroll;
    height:100%;
  }

  /* profile-Section starts */
  #personal_Info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   #profile_pic{
    width:6rem;
   }
   #profile_pic img {
    width:100%;
    border-radius: 50%;
   }
.title{
  color:grey;
  font-weight: 500;
  padding: 5px 0px;
} 
 table{
  /* background: red; */
   font-size: small;
 }
  

 table tr td:first-child{
  text-align: end;
  color:gray;
  
}
table tr td:nth-child(2){
  padding: 0px 5px;
  
  
}
 table tr td:nth-child(3){
  font-weight: bold;
}

  /* profile-Section ends */
 

  /* signOut-Section starts */
  #signOut-Section{
    position: absolute;
    top:100px;
    right:50px;
    z-index:11111;
    background-color:white;
    /* overflow: hidden; */
  }
  #signOut-Section > div {
         width:11rem;
         border-radius: 10px;
         box-shadow: 2px 2px 2px 2px gainsboro;
         padding:10px;
         height:220px;
         display: flex;
         flex-direction: column;
         align-items: center;
         
         
  }

  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar #sideBar_links {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar #sideBar_links {
      text-align: center;
      float: none;
    }
  }